.name {
  text-transform: uppercase;
  text-align: center;
  border: 3px double rgba(245, 245, 245, 0.561);
  margin: 1rem 2rem;
  border-radius: 3px;
}

h3 {
  font-weight: 300;
  letter-spacing: 1.25px;
}

.pokemonImg {
  max-height: 10rem;
  max-width: 10rem;
  object-fit: cover;
  margin: auto;
  
  padding: 10px;
  border-radius: 5px;
}

.container {
  height: 20em;
  width: 14em;
  margin: 10px 0px;
  background: rgba(255, 255, 255, 0.202);
  box-shadow: 0 8px 32px 0 rgba(32, 37, 107, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.statsContainer {
  border: 3px double rgba(245, 245, 245, 0.561);
  margin: 0 2rem;
  font-size: 0.75rem;
  margin-top: 1rem;
}

.statsContainer p {
  margin: 0;
}
